/*Default styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
}

a {
	text-decoration: none;
	font-size: 25px;
	font-weight: bolder;
	font-variant: small-caps;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	cursor: pointer;
}

.sidebar_container {
	background-color: #5800ff;
	flex-basis: 350px;
	height: 900px;
	padding: 2em 0em 0em 3em;
}
.sidebar_li {
	list-style: none;
	padding: 15px 0;
}
.sidebar_item {
	color: #f1f1f1;
}

.sidebar_ul {
	display: flex;
	flex-direction: column;
}

.main_container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.header_container {
	background-color: #e2dcc8;
	align-self: center;
	margin-top: 60px;
	width: 900px;
	height: 350px;
	box-shadow: 0px 0px 4px #e2dcc8;
	border-radius: 20px;
	padding-bottom: 26em;
}

.section_box {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 40px;

}

.section_box h1 {
	background-color: #5800ff;
	width: 150px;
	height: 100px;
	border-radius: 5px;
	text-align: center;
	padding-top: 30px;
	color: #f1f1f1;
	box-shadow: 0px 0px 4px #e2dcc8;
}

.main_container h1 {
	align-self: center;
	margin-top: 60px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.card {
	display: flex;
	justify-content: space-evenly;
	
}


