* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
#container {
	display: flex;
}

.container_body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.container_body h2 {
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sidebar {
	background-color: #5800ff;
	flex-basis: 300px;
	height: 789px;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
}
.container_box {
	background-color: #f1f1f1;
	width: 600px;
	height: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	box-shadow: 1px 1px 10px #fff;
}

.chart_box {
	width: 600px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.chart_box h2 {
	display: flex;
	background-color: #5800ff;
	height: 120px;
	width: 150px;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	box-shadow: 1px 2px 5px black;
}

a {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
