body {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	display: flex;
	justify-content: space-around;
}

header > h1 {
	text-align: center;
	font-size: 2em;
	position: absolute;
	top: 1em;
	left: 20em;
	color: navy;
}


.section_one {
	display: flex;
	justify-content: space-around;
	margin: 10em 0 5em 0;
	padding: 4em 0 2em 0;
	height: 8em;
	flex-grow: 1;
	background-color: blue;
	color: #fff;
	
}

.item_outline {
	display: flex;
	justify-content: space-around;
	width: 100px;
}

.item_outline > h2 {
	color: rgb(113, 113, 228);
}

.card_body {
	display: flex;
	justify-content: space-around;
	margin: 2em;
}
.card {
	background-color: #e0e0f5;
	width: 20em;
    height: 25em;
    
}

.card > h2 {
    text-align: center;
}
.card > p {
    padding-left: 4em;
}
.card:first-child {
    margin-top: 1em;
}

.section_three{
    display: flex;
    justify-content: space-around;
}